@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/*
    . . . RESET . . .

    Pode não ser bom resetar tudo, pois o carregamento pode ficar lento. 
    É aconselhável resetar apenas as tags necessárias.
    box-sizing: colocar padding sem alterar o width
*/

* {
    margin: 0; 
    padding: 0; 
    font-size: 100%; 
    border: none; 
    outline: none; 
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;
}
body {
    background-color: #f5f5f5;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%
}

/*
    Código criado para Celular e adaptado para Desktop por meio de Media Queries (Mobile First)

     . . . CONTAINER . . . 

    Envolve todo o conteúdo.
    Não precisa centralizar, pois vai pegar a tela inteira.
    1170px: tamanho do site (desktop)
*/

.container { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
    @media (min-width: 1300px) {
        .container {
            max-width: 1300px;
            padding: 0;
        }
    }

/* Opção de layout com box ou sem */
@media (min-width: 728px) {
    .box {
        max-width: 728px;
        padding: 0;
    }
}

/*
    . . . LINHA . . .

    margin(-5px): deve ser o mesmo espaçamento colocado na coluna.

    Clear-fix: 
        Evitar que o conteúdo dentro da linha fique maior que sua própria altura.
        Altura da linha sempre seguirá a altura de seu conteúdo.
        Se não fizer isso, pode dar problema quando for adicionar margin aos elementos. 
*/    
.row {
    margin-left: -5px;
    margin-left: -5px;
}
    .row::before,
    .row::after {
        content: "";
        display: table;
    }
    .row::after {
        clear: both;
    }

/*
    . . . COLUNAS . . . 

    .col: classe base para todas as colunas.

    display inline-block: 
        Ter características de elemento em bloco, porém se comportar como elemento inline (flutuar).
        Elementos irão flutuar para a esquerda.
        Vai substituir o float, mas com controle do vertical-align

    padding (5px): deve ser o mesmo espaçamento colocado na linha.
    
    *zoom: 1;*display: inline;
        Display inline-block não funciona bem no IE
        Apenas para dar suporte a navegadores mais antigos

    margin-right: -4px;
        Para resetar margin padrão adicionada automaticamente pelo inline-block.
*/

.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
    

    /* 
        . . . DUAS COLUNAS . . .
        Permitido apenas para telas com, no mínimo, o tamanho de TABLET.
    */
    @media (min-width: 728px) {
        .col-2 {
            width: 50%;
        }
    }

    /*
        . . . TRÊS OU QUATRO COLUNAS E SIDEBAR . . . 
        Permitido apenas para telas com, no mínimo, o tamanho de DESKTOP.
    */
    @media (min-width: 992px) {
        .col-3 {
            width: 33.3333%;
        }
        .col-4 {
            width: 25%;
        }

        .col-content {
            width: 60%;
        }

        .col-sidebar {
           width: 40%;
        }
    }

/* Tipografias paras as tags h1 até h6 */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
	font-variant: small-caps;
    margin: 0.3125em 0; /* 5/16px */
}
h1 {
    font-size: 2em; /* 32/16px */
}
h2 {
    font-size: 1.5em; /* 24/16px */
}
h3 {
    font-size: 1.125em; /* 18/16px */
}
h4 {
    font-size: 1em; /* 16/16px */
}
h5 {
    font-size: 0.8125em; /* 13/16px */
}
h6 {
    font-size: 0.6875em; /* 11/16px */
}

/* Imagens e videos fluidos */

img, iframe, object, embed, video {
    height: auto;
    max-width: 100%;
}

/* Para evidenciar quadros */
.quadro {
    background: #f5d5fe;
    padding: 5px;
    text-align: center;
    margin: 2px 0;
    color: #fff;
}
.bloco {
    margin: 15px 0;
}


p {
    margin: 5px 0;
}
.text-center {
    text-align: center;
}

.font-weight-bold {
    font-weight: bold;
}
.media-padrao {
    height: auto;
    width: 125%; /* 1200/960px */
    /* height: 95.833333%; 920/960px */
}